<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aipms.mapper.CarMapper">

    <!-- 차량 등록 -->
    <insert id="insertCar" parameterType="com.aipms.domain.Car">
        INSERT INTO car (member_id, car_number, car_type, reg_date)
        VALUES (#{memberId}, #{carNumber}, #{carType}, #{regDate})
    </insert>

    <!-- 비회원 차량 등록 -->
    <insert id="insertCarForGuest" parameterType="com.aipms.domain.Car">
        INSERT INTO car (guest_token, car_number, car_type, reg_date)
        VALUES (#{guestToken}, #{carNumber}, #{carType}, #{regDate})
    </insert>

    <!-- 차량 수정 -->
    <update id="updateCar" parameterType="com.aipms.domain.Car">
        UPDATE car
        SET car_number = #{carNumber},
            car_type = #{carType}
        WHERE car_id = #{carId}
    </update>

    <!-- 차량 삭제 -->
    <delete id="deleteCar" parameterType="long">
        DELETE FROM car WHERE car_id = #{carId}
    </delete>

    <!-- 특정 유저의 차량 목록 -->
    <select id="selectCarsByUserID" parameterType="long" resultType="com.aipms.domain.Car">
        SELECT car_id, member_id, car_number, car_type, reg_date
        FROM car
        WHERE member_id = #{memberId}
    </select>

    <!-- 전체 차량 목록 -->
    <select id="selectAllCars" resultType="com.aipms.domain.Car">
        SELECT car_id, member_id, car_number, car_type, reg_date
        FROM car
    </select>

    <!-- 특정 차량 조회 -->
    <select id="selectOneCar" parameterType="long" resultType="com.aipms.domain.Car">
        SELECT car_id, member_id, car_number, car_type, reg_date
        FROM car
        WHERE car_id = #{carId}
    </select>

    <!-- 번호판 조회 -->
    <select id="findByCarNumber" parameterType="String" resultType="com.aipms.domain.Car">
        SELECT * FROM car
        WHERE car_number = #{carNumber}
        ORDER BY reg_date DESC
            LIMIT 1
    </select>

</mapper>
