<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aipms.mapper.ParkingMapper">

    <insert id="insert" parameterType="com.aipms.domain.Parking">
        INSERT INTO parking (name, location, space_no, is_occupied, cctv_url)
        VALUES (#{name}, #{location}, #{spaceNo}, #{isOccupied}, #{cctvUrl})
    </insert>

    <select id="selectById" parameterType="long" resultType="com.aipms.domain.Parking">
        SELECT * FROM parking WHERE parking_id = #{id}
    </select>

    <select id="selectAll" resultType="com.aipms.domain.Parking">
        SELECT * FROM parking
    </select>

    <update id="update" parameterType="com.aipms.domain.Parking">
        UPDATE parking
        SET name = #{name},
            location = #{location},
            space_no = #{spaceNo},
            is_occupied = #{isOccupied},
            cctv_url = #{cctvUrl}
        WHERE parking_id = #{parkingId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM parking WHERE parking_id = #{id}
    </delete>

    <select id="countTotalSlots" resultType="int">
        SELECT COUNT(*)          -- 모든 주차 공간
        FROM parking             -- parking 테이블
    </select>

    <!-- 현재 사용 중인 주차면 수 -->
    <select id="countOccupiedSlots" resultType="int">
        SELECT COUNT(*)
        FROM parking
        WHERE is_occupied = 1    -- 1 = 사용중, 0 = 비어있음
    </select>

    <!-- 입차시 증가 -->
    <update id="increaseOccupiedCount" parameterType="java.lang.Long">
    <![CDATA[
        UPDATE parking
        SET occupied_count = occupied_count + 1
        WHERE parking_id = #{parkingId}
          AND occupied_count < total_space
        ]]>
    </update>

    <!-- 출차시 증가 -->
    <update id="decreaseOccupiedCount" parameterType="java.lang.Long">
    <![CDATA[
        UPDATE parking
        SET occupied_count = CASE WHEN occupied_count > 0 THEN occupied_count - 1 ELSE 0 END
        WHERE parking_id = #{parkingId}
        ]]>
</update>

    <select id="selectParkingStatus" resultType="com.aipms.dto.ParkingStatusDto">
        SELECT
            parking_id AS id,
            name,
            total_space AS total,
            occupied_count AS occupied,
            ROUND((occupied_count / total_space) * 100, 1) AS rate
        FROM parking
    </select>
    <!-- 전체 주차면수 합계 -->
    <select id="sumTotalSpaces" resultType="int">
        SELECT IFNULL(SUM(total_space),0) FROM parking
    </select>

    <!-- 전체 사용중인 주차면수 합계 -->
    <select id="sumOccupiedCount" resultType="int">
        SELECT IFNULL(SUM(occupied_count),0) FROM parking
    </select>

</mapper>
